
/* || Fonts ('League Spartan')
 *************************/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

/* || Global Variables
 *************************/
:root {
    /* || Colors
     *************************/
    --white: #FFFFFF;

    --purple-900: #512051;
    --purple-300: #927B91;
    --purple-100: #F7F2F7;

    --pink: #EE69A4;

    --orange: #EF9546;

    --gradient: linear-gradient(316.77deg, #8a438900 0%, #512051 93.57%);

    /* || Spacing
     *************************/
    --spacing-0: 0rem;
    --spacing-100: 0.5rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-600: 3rem;
    --spacing-1200: 6rem;
}

/* || Typography
 *************************/
.text-present-1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 85%;
    letter-spacing: -2px;
}

.text-present-2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 85%;
    letter-spacing: -2px;
}

.text-present-3 {
    font-weight: 500;
    font-size: 19px;
    line-height: 135%;
    letter-spacing: -0.6px;
}

.text-present-4 {
    font-size: 17px;
}

.text-present-4--bold {
    font-weight: 700;
    line-height: 100%;
}

.text-present-4--medium {
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.3px;
}

.text-present-4--regular {
    font-weight: 400;
    line-height: 100%;
}