.rating {
    max-height: 78px;
    padding: 14.61px 0;
    border-radius: 8px;
    background-color: var(--purple-100);
}

.rating__stars {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.rating__text {
    margin-top: 1rem;

    font-size: 1.0625rem;
    font-weight: 700;
    line-height: 1.0625rem;
    text-align: center;
    color: var(--purple-900);
}

@media (min-width: 768px) {
    .rating {
        padding: 1rem 2.21875rem;
        display: flex;
        align-items: center;
        gap: 32px;
    }

    .rating__text {
        margin-top: 0;
    }
}